html {
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background: rgb(218, 218, 218);
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

hr {
  margin: 0.5rem 0;
}

.page {
  width: 90%;
  min-height: 100vh;
  max-width: 1000px;
  margin: 3rem auto;
  padding: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  background: #ffffff;
}

.menu-item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.8;
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: transparent; 
}

:hover {
  opacity: 1;
  border-bottom-color: hsl(60, 50%, 50%);
}

.active,
.active:hover {
  opacity: 1;
  border-bottom-color: hsl(120, 50%, 50%);
}

.form-control[type=text]:valid {
  color: green
}

.form-control[type=text]:invalid {
  color: red
}